{% extends "base.html" %}

{% block header %}
<div class="container_header">
    {% if hospital is not None %}
        <div class="container_hospital_info">
            <div class="hospital_title"><a class="hospital_title_text" href="{% url 'hospital:home' %}">{{ hospital.name }}</a></div>
            <div class="hospital_info">
                <div>{{ hospital.address }}</div>
                <div class="padding"></div>
                <div>{{ hospital.phone_number }}</div>
            </div>
        </div>
    {% else %}
        <a href="/" class="logo">My Hospital</a>
    {% endif %}

    <div class="container_user_info">
        {% if user.is_authenticated %}
            <div class="user_name_info">Hello, {{user.username}}</div>
            <div><a class="log_out" href="{% url 'accounts:logout' %}">Log out</a></div>
        {% else %}
            <a href="{% url 'accounts:login' %}">Log in</a>
        {% endif %}
    </div>
</div>
{% endblock %}


{% block content %}    
    <div class="container_patient"> 
        <h2 class="Patient List">Patient List</h2>
        <table>
            <tr>
                <th class="patient_name_table_header">Patient Name</th>
                <th class="patient_symptoms_table_header">Symptoms</th>
                <th class="patient_currentMeds_table_header">Current Medications</th>
                <th class="patient_docName_table_header">Patient Doctor</th>
                <th class="patient_bill_details_table_header">Bill</th>
            </tr>
            {%for pr in patientList%} 
                <tr class="table_row_patient">
                    <td>{{pr.lastName}}, {{pr.firstName}}</td>
                    <td>{{pr.symptoms}}</td>
                    <td>{{pr.docName}}</td>
                    <td>{{pr.currentMeds}}</td>
                    <td><a href="{% url 'Payment:Bill_Details_for_Patient' pr.id %}">Click Here</a></td>
                </tr>
            {%endfor%}
        </table>
    </div>


{% endblock %}