{% extends "base.html" %}

{% block header %}
<a href="/" class="logo">My Hospital</a>
{% if user.is_authenticated %}
    <p>Hello, {{user.username}}</p>
    <a href="{% url 'accounts:logout' %}">Log out</a>
{% else %}
    <a href="{% url 'accounts:login' %}">Log in</a>
{% endif %}
{% endblock %}


{% block content %}
    <div class="container_nurse"> 
        <h2 class="Nurse  List">Nurse List</h2>
        <table>
            <tr>
                <th class="nurse_name_table_header">Nurses</th>
            </tr>
            {%for nr in nurseList%} 
                <tr class="table_row_nurse">
                    <td>{{nr.firstName}} {{nr.lastName}}</td>
                </tr>
            {%endfor%}
        </table>    
    </div>
{% endblock %}