{% extends "base.html" %}

{% block header %}
<div class="container_header">
    {% if hospital is not None %}
        <div class="container_hospital_info">
            <div class="hospital_title"><a class="hospital_title_text" href="{% url 'hospital:home' %}">{{ hospital.name }}</a></div>
            <div class="hospital_info">
                <div>{{ hospital.address }}</div>
                <div class="padding"></div>
                <div>{{ hospital.phone_number }}</div>
            </div>
        </div>
    {% else %}
        <a href="/" class="logo">My Hospital</a>
    {% endif %}

    <div class="container_user_info">
        {% if user.is_authenticated %}
            <div class="user_name_info">Hello, {{user.username}}</div>
            <div><a class="log_out" href="{% url 'accounts:logout' %}">Log out</a></div>
        {% else %}
            <a href="{% url 'accounts:login' %}">Log in</a>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container_doctor"> 
        <h2 class="Doctor List">Doctor List</h2>
        <table>
            <tr>
                <th class="doctor_name_table_header">Doctor Name</th>
                <th class="doctor_specialty_table_header">Specialty</th>
            </tr>
        
    
        {%for dr in doctorsList%} 
            <tr class="table_row_doctor">
                <td>Dr.{{dr.firstName}} {{dr.lastName}} </td>
                <td>{{dr.specialty}}</td>
                
            </tr>
        {%endfor%}
        </table>
    </div>

    <div class="container_nurse"></div>
        <h2 class="Nurse  List">Nurse List</h2>
        
        <table>
            <tr>
                <th class="nurse_name_table_header">Nurse Name</th>
                <th class="nurse_shift_table_header">Shift</th>
            </tr>
                
        {%for nr in nursesList%} 
                <tr class="table_row_nurse">
                    <td>{{nr.firstName}} {{nr.lastName}}</td>
                    <td>{{nr.shift}}</td>
                </tr>
        {%endfor%}
        </table>
    </div>
{% endblock %}