{% extends "base.html" %}

{% block header %}
<div class="container_header">
    {% if hospital is not None %}
        <div class="container_hospital_info">
            <div class="hospital_title"><a class="hospital_title_text" href="{% url 'hospital:home' %}">{{ hospital.name }}</a></div>
            <div class="hospital_info">
                <div>{{ hospital.address }}</div>
                <div class="padding"></div>
                <div>{{ hospital.phone_number }}</div>
            </div>
        </div>
    {% else %}
        <a href="/" class="logo">My Hospital</a>
    {% endif %}

    <div class="container_user_info">
        {% if user.is_authenticated %}
            <div class="user_name_info">Hello, {{user.username}}</div>
            <div><a class="log_out" href="{% url 'accounts:logout' %}">Log out</a></div>
        {% else %}
            <a href="{% url 'accounts:login' %}">Log in</a>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block content %}
	<h1 class="Equipment_list"><a href="">Equipment List</a></h1>
	<div class="container_equipment">
	<table>
        <tr>
            <th class="equipment_name_header">Equipment Name</th>
            <th class="equipment_price_table_header">Price</th>
			<th class="equipment_description_table_header">Description</th>
        </tr>

		{% for e in equip %}
			<tr class="table_row_equipment">
                <td>{{ e.equip_name }}</td>
                <td>{{e.equip_price}}</td>
				<td>{{ e.equip_description|linebreaksbr }}</td>
            </tr>
		{% endfor %}     
	</table>
	</div>
{% endblock %}
