{% extends "hospital/base.html" %}

{% block header %}
    <div class="container_header">
        {% if hospital is not None %}
            <div class="container_hospital_info">
                <div class="hospital_title"><a class="hospital_title_text" href="{% url 'hospital:home' %}">{{ hospital.name }}</a></div>
                <div class="hospital_info">
                    <div>{{ hospital.address }}</div>
                    <div class="padding"></div>
                    <div>{{ hospital.phone_number }}</div>
                </div>
            </div>
        {% else %}
            <a href="/" class="logo">My Hospital</a>
        {% endif %}

        <div class="container_user_info">
            {% if user.is_authenticated %}
                <div class="user_name_info">Hello, {{user.username}}</div>
                <div><a class="log_out" href="{% url 'accounts:logout' %}">Log out</a></div>
            {% else %}
                <a href="{% url 'accounts:login' %}">Log in</a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="menu_items">
        {% if not hospital is None %}
            <div class="container_main_menu">
                <h2 class="title_main_menu">Welcome to {{ hospital.name }}</h2>
                <div class="home_list_container">
                    <div class="home_list_item_container">
                        <div class="home_list_item"><a class="home_list_item_text" href="">Patient Registration</a></div>
                        <div class="home_list_item_image" id="home_list_item_registration"></div>
                    </div>

                    <div class="home_list_item_container">
                        <div class="home_list_item"><a class="home_list_item_text" href="">Our Staff</a></div>
                        <div class="home_list_item_image" id="home_list_item_staff"></div>
                    </div>

                    <div class="home_list_item_container">
                        <div class="home_list_item"><a class="home_list_item_text" href="{% url 'hospital:surgery_schedule' %}">Surgeries Schedule</a></div>
                        <div class="home_list_item_image" id="home_list_item_surgery"></div>
                    </div>

                    <div class="home_list_item_container">
                        <div class="home_list_item"><a class="home_list_item_text" href="{% url 'hospital:rooms' %}">Rooms</a></div>
                        <div class="home_list_item_image" id="home_list_item_rooms"></div>
                    </div>

                    <div class="home_list_item_container">
                        <div class="home_list_item"><a class="home_list_item_text" href="">Billing</a></div>
                        <div class="home_list_item_image" id="home_list_item_bill"></div>
                    </div>
                    {% if user.is_authenticated %}
                        <li><a href="{%url 'person:patient_details' %}">Patient Registration</a></li>
                        <li><a href="{%url 'person:staff_list' %}">Our Staff</a></li>
                        <li><a href="{% url 'hospital:surgery_schedule' %}">Surgery Schedule</a></li>
                        <li><a href="{% url 'hospital:rooms' %}">Rooms</a></li>
                        <li><a href="">Billing</a></li>
                        <li><a href="{% url 'hospital:post_patient_room' %}">Book a Patient Room</a></li>
                        <li><a href="{% url 'hospital:post_surgery_room' %}">Book a Surgery Room</a></li>
                    {% else %}
                        <li><a href="{%url 'person:patient_details' %}">Patient Registration</a></li>
                        <li><a href="{%url 'person:staff_list' %}">Our Staff</a></li>
                        <li><a href="{% url 'hospital:surgery_schedule' %}">Surgery Schedule</a></li>
                        <li><a href="{% url 'hospital:rooms' %}">Rooms</a></li>
                        <li><a href="">Billing</a></li>
                        <div class="home_list_item_container">
                            <div class="home_list_item"><a class="home_list_item_text" href="{% url 'hospital:post_patient_room' %}">Create a Patient Room</a></div>
                        </div>

                        <div class="home_list_item_container">
                            <div class="home_list_item"><a class="home_list_item_text" href="{% url 'hospital:post_surgery_room' %}">Create a Surgery Room</a></div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <p>Your hospital has not been created yet</p>
            <a href="{% url 'hospital:post_hospital' %}">Click here to create one!</a>
        {% endif %}
    </div>
{% endblock %}