{% extends "hospital/base.html" %}

{% block content %}
    <div class="menu_items">
        {% if not hospital is None %}
            <div class="container_main_menu">
                <h2 class="title_main_menu">Welcome to {{ hospital.name }}</h2>
                <p>Select one option</p>
                <ul>
                    <li><a href="">Patients and visitors</a></li>
                    <li><a href="">Our Doctors</a></li>
                    <li><a href="{% url 'hospital:surgery_schedule' %}">Surgeries Schedule</a></li>
                    <li><a href="{% url 'hospital:rooms' %}">Rooms</a></li>
                    <li><a href="">Billing</a></li>
                </ul>
            </div>
        {% else %}
            <p>Your hospital has not been created yet</p>
            <a href="{% url 'hospital:post_hospital' %}">Click here to create one!</a>
        {% endif %}
    </div>
{% endblock %}