{% extends "hospital/base.html" %}

{% block header %}
    <div class="container_header">
        {% if hospital is not None %}
            <div class="container_hospital_info">
                <div class="hospital_title"><a class="hospital_title_text" href="{% url 'hospital:home' %}">{{ hospital.name }}</a></div>
                <div class="hospital_info">
                    <div>{{ hospital.address }}</div>
                    <div class="padding"></div>
                    <div>{{ hospital.phone_number }}</div>
                </div>
            </div>
        {% else %}
            <a href="/" class="logo">My Hospital</a>
        {% endif %}

        <div class="container_user_info">
            {% if user.is_authenticated %}
                <div class="user_name_info">Hello, {{user.username}}</div>
                <div><a class="log_out" href="{% url 'accounts:logout' %}">Log out</a></div>
            {% else %}
                <a href="{% url 'accounts:login' %}">Log in</a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <h2 class="title_rooms">Surgery Rooms</h2>
        <table>
            <tr>
                <th class="room_number_table_header">Room Number</th>
                <th class="patient_name_table_header">Patient</th>
                <th>Doctor</th>
                <th class="check_inout_table_header">Book/Checkout</th>
                <th class="room_details_table_header">Details</th>
                <th>Available</th>
            </tr>
        {% for sr in surgery_rooms %}
            <tr class="table_surgery_room">
                <td>{{sr.room_number}}</td>
                {% if not sr.is_occupied %}
                    <td>N/A</td>
                    <td>N/A</td>
                    <td><a href="{% url 'hospital:book_surgery' sr.id %}">Book Surgery</a></td>
                    <td><a href="{% url 'hospital:rooms_surgery_details' sr.id %}">Details</a></td>
                    <td class="table_row_available"></td>
                {% else %}
                    <td>{{sr.surgery.doctor_incharge.lastName}}, {{sr.surgery.doctor_incharge.firstName}}</td>
                    <td>{{sr.surgery.patient.lastName}}, {{sr.surgery.patient.firstName}}</td>
                    <td><a href="{% url 'hospital:check_out_surgery' sr.id %}">Check out</a></td>
                    <td><a href="{% url 'hospital:rooms_surgery_details' sr.id %}">Details</a></td>
                    <td class="table_row_not_available"></td>
                {% endif %}
            </tr>
        {% endfor %}
        </table>

    <h2 class="title_rooms">Patient Rooms</h2>
        <table>
            <tr>
                <th class="room_number_table_header">Room Number</th>
                <th class="patient_name_table_header">Patient</th>
                <th>Nurse</th>
                <th class="check_inout_table_header">CheckIn/Out</th>
                <th class="room_details_table_header">Details</th>
                <th>Available</th>
            </tr>
        {% for room in patient_rooms %}
            <tr class="table_surgery_room">
                <td>{{room.room_number}}</td>
                {% if not room.is_occupied %}
                    <td>N/A</td>
                    <td>N/A</td>
                    <td><a href="{% url 'hospital:patient_check_in' room.id %}">Check patient in</a></td>
                    <td><a href="{% url 'hospital:rooms_patient_details' room.id %}">Details</a></td>
                    <td class="table_row_available"></td>
                {% else %}
                    <td>{{room.patient.lastName}}, {{room.patient.firstName}}</td>
                    <td>{{room.nurse.lastName}}, {{room.nurse.firstName}}</td>
                    <td><a href="{% url 'hospital:patient_check_out' room.id %}">Check patient out</a></td>
                    <td><a href="{% url 'hospital:rooms_patient_details' room.id %}">Details</a></td>
                    <td class="table_row_not_available"></td>
                {% endif %}
            </tr>
        {% endfor %}
        </table>
{% endblock %}