{% extends "hospital/base.html" %}

{% block content %}
    <div class="contianer_upcoming_surgeries">
            <h2 class="title_surgery_schedule">Upcoming Surgeries</h2>
            <table>
                <tr>
                    <th>Doctor</th>
                    <th>Patient</th>
                    <th>Room Number</th>
                    <th>Status</th>
                    <th>Details</th>
                </tr>
            {% for sr in booked%}
                <tr>
                    <td>{{sr.surgery.doctor_incharge.lastName}}, {{sr.surgery.doctor_incharge.firstName}}</td>
                    <td>{{sr.surgery.patient.lastName}}, {{sr.surgery.patient.firstName}}</td>
                    <td> {{ sr.room_number }}</td>
                {% if sr.surgery.start_time >= time %}
                    <td>On Going</td>
                {% else %}
                    <td>Starting Soon</td>
                {% endif %}
                    <td><a href="">Click for details</a> </td>
                </tr>
            {% endfor %}
            </table>
    </div>

    <div class="container_upcoming_surgeries">
            <h2 class="title_surgery_schedule">Surgeries Waiting for Room</h2>
            <table>
                <tr>
                    <th>Doctor</th>
                    <th>Patient</th>
                    <th>Room Number</th>
                    <th>Status</th>
                    <th>Details</th>
                </tr>
            {% for sr in pending%}
                <tr>
                    <td>{{sr.surgery.doctor_incharge.lastName}}, {{sr.surgery.doctor_incharge.firstName}}</td>
                    <td>{{sr.surgery.patient.lastName}}, {{sr.surgery.patient.firstName}}</td>
                    <td> {{ sr.room_number }}</td>
                    <td>Coming Next</td>
                    <td><a href="">Click for details</a> </td>
                </tr>
            {% endfor %}
            </table>
    </div>
{% endblock %}